modules = ["nodejs-20", "web", "bash", "python-base-3.13"]
[nix]
channel = "stable-25_05"

[[ports]]
localPort = 4040
externalPort = 5173
exposeLocalhost = true

[[ports]]
localPort = 8080

[[ports]]
localPort = 8081

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 8083
externalPort = 3003

[[ports]]
localPort = 18115

[[ports]]
localPort = 18116
externalPort = 3001

[workflows]

[[workflows.workflow]]
name = "artifacts/artifacts/mockup-sandbox: Component Preview Server"
author = "agent"
mode = "parallel"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "XegfDyZt7HqfW2Bb8Ghoy"
isCanvasWorkflow = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/mockup-sandbox run dev"
cwd = "./artifacts/artifacts/mockup-sandbox"
waitForPort = 8081
ensurePreviewReachable = "/"
router = "path"

[workflows.workflow.tasks.env]
PORT = "8081"
BASE_PATH = "/__mockup"

[[workflows.workflow]]
name = "artifacts/artifacts/mobile: expo"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/mobile"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/mobile run dev"
cwd = "./artifacts/artifacts/mobile"
waitForPort = 18115
ensurePreviewReachable = "/status"
router = "expo-domain"

[workflows.workflow.tasks.env]
PORT = "18115"
BASE_PATH = "/"
EXPO_USE_TUNNEL = "1"

[[workflows.workflow]]
name = "artifacts/artifacts/api-server: API Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "3B4_FFSkEVBkAeYMFRJ2e"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run dev"
cwd = "./artifacts/artifacts/api-server"
waitForPort = 8080
ensurePreviewReachable = "/"
router = "path"

[workflows.workflow.tasks.env]
PORT = "8080"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 180000

[userenv]

[userenv.shared]
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID = "415580358646-mt8g3viemul19f6jlavdk9kdhdj9u3ks.apps.googleusercontent.com"
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID = "415580358646-h08ns78bf6cevnbknjuhekmota9r8pgf.apps.googleusercontent.com"
